@model MemberRegistration.MvcWebUI.Models.MemberAddViewModel



<!DOCTYPE html>

<html>

<head>
    <title>title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light">

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1>Login </h1>
                <p class="lead">Lütfen bilgilerinizi giriniz</p>
                <p class="lead">@Html.ValidationMessage("MemberException")</p>
            </div>
            <div class="row">
                <div class="col-md-12 order col-md-1">
                    <h4 class="mb-3">Bilgileriniz</h4>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Adınız</label>
                                <input type="text" class="form-control" id="firstName" name="member.firstName" placeholder="" value="">

                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Soyadınız</label>
                                <input type="text" class="form-control" id="lastName" name="member.lastName" placeholder="" value="">

                            </div>
                            <div class="col-12">
                                <label for="tcNo" class="form-label">Tc Kimlik Numaranız</label>
                                <div class="input-group">
                                    <span class="input-group-text"></span>
                                    <input type="text" class="form-control" id="tcNo" name="member.tcNo" placeholder="Tc Kimlik Numarası">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Şifre</label>
                                <input type="password" class="form-control" id="password1" name="member.password" placeholder="">

                            </div>
                            <div class="col-12">
                                <label for="dateOfBirth">Doğum Tarihiniz</label>
                                <input type="text" class="form-control" id="dateOfBirth" name="member.dateOfBirth" placeholder="01/01/1990">
                            </div>

                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Giriş</button>
                    }
                </div>
            </div>
        </main>


    </div>
</body>
</html>

